@import "https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to right, #fde4ec, #f8f3f7);
    color: black;
    margin: 0;
    padding: 0;
    top: 0;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 100vh;
    background: linear-gradient(to bottom, #fde4ec, #ffd3dd);
    padding: 40px 20px;
    border-right: 5px
}
.navbar h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}
.navbar-item {
    margin: 15px 0;
}
.navbar-item a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
}
.navbar-item a:hover {
    color: #d6336c;
}

.navbar-item a.active {
    color: #d6336c;
    font-weight: bold;
}

.content {
    margin-left: 300px;
    padding: 50px;
    max-width: auto;
}

.content section {
    margin-bottom: 50px;
    min-height: 50vh;
}
.content section h1:not(:first-child) {
    font-size: 32px;
    margin-top: 150px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        width: 100%;
        position: relative;
        height: auto;
        padding: 20px;
    }
    .content {
        margin-left: 0;
        padding: 20px;
    }
}
